body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.list-group-item {
  margin-bottom: 0;
  border-right: 0; /* Optional: Remove right border for list items */
}

.form-group {
  margin-bottom: 0;
}
